{% import "_includes/macros" as macros %}
{% extends '_layouts/standard' %}

{% paginate craft.entries({ section: 'news', limit: 8 }) as pageInfo, entries %}

{% block head %}
	{{ parent() }}

	{# Set <link="rel|prev" tags for SEO #}

	{% if pageInfo.prevUrl %}<link rel="prev" href="{{ pageInfo.prevUrl }}">{% endif %}
	{% if pageInfo.nextUrl %}<link rel="next" href="{{ pageInfo.nextUrl }}">{% endif %}
{% endblock %}

{% block content %}

	<main id="content">
		<div id="app">
			{% set articles = craft.entries.section('news').all() %}
			{% set posts = [] %}
			{% for post in articles %}
			{% set posts = posts|merge([{
				url: post.url,
				title: post.articleSubheader,
				content: post.articleText,
				full: post.articleFull,
				image: post.articleImage.one().getUrl({width: 350}),
				id: post.id()
			}]) %}
			{% endfor %}

			<news></news>

		</div>

		{# {% include '_components/pagination' with { pageInfo: pageInfo } %} #}

	</main>

	<script>
	window.craftData = {
		posts: {{ posts | json_encode | raw }}
	}
	</script>

{% endblock %}
